# Cost functions

In [1]:
import numpy as np

y_predicted = np.array([1,1,0,0,1])
y_true = np.array([0.30,0.7,1,0,0.5])

MAE

In [6]:
def mae(y_true, y_predicted):
  #go trough the arrays and add the absolute diference
  total_error = 0
  for yt, yp in zip (y_true, y_predicted):
   total_error += abs(yt - yp)
  print("Total error:", total_error)
  mae = total_error/ len(y_true)
  print("MAE:", mae)
  return mae

In [7]:
mae(y_true, y_predicted)

Total error: 2.5
MAE: 0.5

0.5

In [8]:
#define mae but with numpy
np.mean(np.abs(y_predicted - y_true))

0.5

Log loss

In [14]:
#log(0) -> inf so it's a problem, need to replace 1 for a number close to 1 and 0 to a number close to 0
epsilon = 1e-15
y_predicted_new = [max(i,epsilon) for i in y_predicted] #replace 0
y_predicted_new

[1, 1, 1e-15, 1e-15, 1]

In [15]:
y_predicted_new = [min(i,1 - epsilon) for i in y_predicted_new] #replace 1
y_predicted_new

[0.999999999999999, 0.999999999999999, 1e-15, 1e-15, 0.999999999999999]

In [16]:
#convert the list to np array
y_predicted_new = np.array(y_predicted_new)
np.log(y_predicted_new)

array([-9.99200722e-16, -9.99200722e-16, -3.45387764e+01, -3.45387764e+01,
       -9.99200722e-16])

In [17]:
#doinf log with the original values doesn't work
np.log(y_predicted)

<ipython-input-17-d8d657355a01>:1: RuntimeWarning: divide by zero encountered in log
  np.log(y_predicted)

array([  0.,   0., -inf, -inf,   0.])

In [18]:
-np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

17.2696280766844

In [19]:
def log_loss(y_true, y_predicted):
    epsilon = 1e-15
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

In [20]:
log_loss(y_true, y_predicted)

17.2696280766844

MSE

In [21]:
def mse(y_true, y_predicted):
    total_error = 0
    for yt, yp in zip(y_true, y_predicted):
        total_error += (yt-yp)**2
    print("Total Squared Error:",total_error)
    mse = total_error/len(y_true)
    print("Mean Squared Error:",mse)
    return mse

In [22]:
mse(y_true, y_predicted)

Total Squared Error: 1.83
Mean Squared Error: 0.366

0.366

In [23]:
np.mean(np.square(y_true-y_predicted))

0.366